body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
}

.app {
  text-align: center;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(126, 51, 126);
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.fresh {
  font-size: 1.8em;
  margin: 0;
}

.nav-items ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-items li {
  font-size: 1.1em;
  cursor: pointer;
}

.search {
  padding: 20px;
  font-size: 1.2em;
  text-align: left;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.filter-btn {
  padding: 10px 20px;
  background-color: #fc8019; /* Swiggy's primary orange color */
  color: white; /* White text color for better contrast */
  border: none;
  border-radius: 25px; /* More rounded corners for a modern look */
  font-size: 16px; /* Slightly larger font size for readability */
  font-weight: bold; /* Bold text for emphasis */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition effects */
}

.filter-btn:hover {
  background-color: #e76e17; /* Slightly darker orange on hover */
  transform: translateY(-2px); /* Subtle lift effect on hover */
}

.filter-btn:active {
  background-color: #d65f14; /* Even darker orange for active state */
  transform: translateY(1px); /* Slightly lower position on click */
}


.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.res-card {
  width: 250px;
  background-color: white;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.res-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.20);
  cursor: pointer;
}

.res_logo {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.res-card h3, .res-card h4 {
  margin: 10px 0;
  text-align: left;
}

.res-card h3 {
  font-size: 1.2em;
  color: #333;
}

.res-card h4 {
  font-size: 1em;
  color: rgb(59, 14, 14);
}
